@page "/eventdetails/{eventId:Guid}/person"

<div class="component-header">
	<h3>
		Osavõtja info
	</h3>
	<div class="image-container">
		<img src="images/libled.jpg" />
	</div>
</div>

<SelectedPersonView />